# File containing location of atoms within a molecule.
coordinates: coords.xyz

# EXFAS data files
# This needs to be called chi.chi3. See process.iff
experimental-exafs: chi.chi3
calculated-exafs: my_chi.chi3

# RMSD config 
x-min: 2.0
x-max: 11.6

# Various programs
feff: feff6
ifeffit: ifeffit
evaluate: fscript.sh


delta:5
target_atom:Mn
